# Ignore everything by default
/*

# Keep folders
!.config
!.local
!.oh-my-zsh


# Keep files
!.bash_logout
!.bash_profile
!.bashrc
!.gitignore
#!.gtkrc-2.0 #Sync styles between computers
!.zshrc
!.zprofile
!README.arch.md
!README.md