.bash_history
.bash_logout
.bash_profile
.cache
.cargo
.cursor
Descargas
.dmrc
Documentos
.fehbg
.histfile
.icons
.lesshst
.local
.mozilla
.pki
.ssh
.vscode-oss
.Xauthority
.xsession-error*
.zcompdump
.zshrc.zni
.gitconfig
*.png
*.jpg
*.*zip
*.tar*
*.sh
