# Ignore everything by default
/*

# Keep folders
!ags
!btop
!cava
!fastfetch
!gtk-3.0
!kitty
!Kvantum
!nvim
!qt5ct
!qt6ct
!rofi
!swappy
!swaync
!wallust
!waybar
!wlogout
!xfce4
!xsettingsd
!zsh
!nvim
!hypr
!waybar

# Keep files
!.gitignore
!mimeapps.list
!user-dirs.dirs
!user-dirs.locale